p {
  font-family: Lato;
}

.container{
  display: center;
}

.player-tile{
  display: grid; 
  
  grid-column-gap: 50px; 
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto auto;
}

h1{
  text-align: center;
}

